site_name: DevOps
site_author: Gavin Gao
site_url: https://dev.cgabc.xyz/
site_description:

repo_url: https://github.com/cggos/DevOps
repo_name: cggos/DevOps

theme: 
  name: material # readthedocs material
  # logo: material/library
  favicon: images/favicon.png
  icon:
    repo: fontawesome/brands/git-alt
  nav_style: light
  language: 'zh'
  # palette:
  #   primary: 'light blue'
  #   accent: 'indigo' 
  feature:
    tabs: true
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - toc.follow
    # - toc.integrate
    - content.code.annotate

plugins:
  - search
  # - social
  - tags

markdown_extensions:
  - abbr
  - meta
  - admonition
  - attr_list
  - def_list
  - footnotes
  - toc:
      permalink: true # "#"
      toc_depth: 5
      separator: "_"
      slugify: !!python/name:pymdownx.slugs.uslugify_cased
  - codehilite:
      guess_lang: true
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.arithmatex
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde        
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.highlight:
      auto_title: true
      anchor_linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.tabbed:
      alternate_style: true       
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      # emoji_generator: !!python/name:pymdownx.emoji.to_png
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cggos
      name: cggos on GitHub
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/CGiABC
      name: CGABC on Twitter
        
nav:
  - Home: 'index.md'
  - Basics:
    - Data Formats: 01-basics/data_format.md
    - Code Format: 01-basics/code_format.md
    - Platform: 01-basics/platform.md
    - Software Architecture & Design Patterns: 01-basics/software_arch_and_design_patterns.md

  - Languages: 02-program_languages/README.md

  - Windows Batch Scripting: 02-scripting/02_windows_batch_scripting/README.md

  - Linux Shell Scripting:
    - Overview: 02-scripting/01_linux_shell_scripting/README.md
    - Grub & BIOS: 02-scripting/01_linux_shell_scripting/grub_bios.md
    - Disk: 02-scripting/01_linux_shell_scripting/disk.md
    - File & File Systems: 02-scripting/01_linux_shell_scripting/file.md
    - GPG & SSH Key: 02-scripting/01_linux_shell_scripting/key.md
    - Terminals and X11: 02-scripting/01_linux_shell_scripting/terminals_x11.md
    - Ubuntu Apps: 02-scripting/01_linux_shell_scripting/ubuntu_apps.md

  - App Build:
    - Build Tools: 03-app_build/build_tools.md
    - Compiler: 03-app_build/compiler.md
    - Debug: 03-app_build/software_debug.md
    - Test: 03-app_build/software_test.md
    - Code Analysis: 03-app_build/code_analysis.md
    - Reverse Engineering: 03-app_build/reverse_engineering.md
    - Docker: 03-app_build/docker.md

  - CMS:
    - Overview: 04-configuration_management_system/README.md
    - Git: 04-configuration_management_system/git.md
    - Apache Maven: 04-configuration_management_system/maven.md

  - PKM:
    - Type Setting:
      - Text Editors: 06-personal_knowledge_management/type_setting/TextEditors.md
      - MarkDown: 06-personal_knowledge_management/type_setting/MarkDown.md
      - CHM: 06-personal_knowledge_management/type_setting/CHM.md
      - EPUB: 06-personal_knowledge_management/type_setting/EPUB.md
      - API Docs: 06-personal_knowledge_management/type_setting/API-Docs.md
      - Diagrams: 06-personal_knowledge_management/type_setting/Diagrams.md
      - Fonts: 06-personal_knowledge_management/type_setting/Fonts.md
      - Convertor: 06-personal_knowledge_management/type_setting/Convertor.md
    - Website:
      - Online Docs: 06-personal_knowledge_management/website/OnlineDocs.md
      - Sphinx: 06-personal_knowledge_management/type_setting/Sphinx.md
      - Jekyll: 06-personal_knowledge_management/website/Jekyll.md
      - MkDocs: 06-personal_knowledge_management/website/MkDocs.md

  - PMS:
    - Overview: 07-package_management_system/README.md

  - Network:
    - Overview: 08-network/README.md
    - Proxy: 08-network/proxy.md
    - Database: 08-network/database.md
    - Download Managers: 08-network/download_managers.md
    - Synology DS128+: 08-network/nas/synology_nas.md
    - Router: 08-network/network_devices/router.md
    - Serial Communication: 08-network/serial_communication/README.md
